* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgba(43, 41, 41, 0.877);
     overflow:hidden;
}

nav {
    width: 100%;
    height: 10vh;
}

nav .container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.container .logo {
    font-size: 1.5rem;
    pointer-events: none;
}

.container .links a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    margin: 0 20px;
    transition: 0.2s linear;
}

.container .links a:hover {
    color: rgb(23, 115, 115);
}

.container .social-links {
    display: flex;
}

.container .social-links div {
    cursor: pointer;
    font-size: 1.1rem;
    margin: 0 20px;
    padding: 10px;
    border-radius: 40px;
    transition: 0.4s ease;
}

.container .social-links div:hover {
    background-color: black;
    cursor: pointer;
}

.image {
    height: 400px;
    display: flex;

}
/* Section Starts */

section {
    width: 100%;
    height: 90vh;
    
}

section .content {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.content .heading {
    width: 600px;
}

.content h3 {
    width: 200px;
    padding: 7px;
    background-color: green;
    border-radius: 8px;
    margin-bottom: 25px;
}

.content .heading h1 {
    font-size: 4.5rem;
    margin-bottom: 25px;
    color: gold;
}

.content .heading p {
    font-size: 1.4rem;
    color: white;
}

.content .heading button {
    margin: 30px;
    width: 150px;
    height: 40px;
    font-size: 1.2rem;
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
    transition: 0.3s ease;
}

.content .heading button:hover {
    background-color: transparent;
    border-right: 2px solid green;
    border-left: 2px solid green;
    color: green;
}

.quality {
    position: absolute;
    bottom: 20px;
    left: 70px;
    width: 550px;
    display: flex;
    justify-content: space-between;
}

.quality .experience {
    display: flex;
    color: #646567;
    align-items: center;
}

.experience h1 {
    font-size: 4rem;
}

.experience .label {
    font-size: 1.4rem;
    margin-left: 10px;
}